@font-face {
    font-family: '###';
    src: url('src/fonts/###') format('woff2'),
        url('src/fonts/###') format('woff'),
        url('src/fonts/###') format('svg');
    font-weight: normal;
    font-style: normal;
}